body{
    background-color: rgb(156, 156, 23);
    font-family: cursive;
}
nav{
    background-color: black;
    
}
img{ 
    float: right;
    display: inline;
}
h1{
    padding-top: 10px;
    font-weight: bold;
    font-size: 45px;
    color: rgb(53, 1, 1);
}
p{

    color:rgb(24, 4, 4);
    /* float: left; */
}
ul {
    color: rgb(5, 1, 7);
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
.navList {
    display: inline;
    color: whitesmoke;
}

.eduAndExpList {
    padding-bottom: 10px;
    padding-top: 10px; 
    font-style:italic;
    color: rgb(1, 1, 39);
    border: 3px solid rgb(34, 22, 46); 
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 16px;

}

.city {
    list-style: decimal;
    font-style: italic;
    color: whitesmoke;
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    padding-bottom: 10px;
}
ol{
    padding-top: 10px;
    font-weight: bolder;
    background-color: rgb(22, 1, 37);
    text-align: center;
    color: yellow;
    
}
p {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    color: rgba(12, 11, 12, 0.897);
    
}
